<div id="bluesnap-google-pay" class="panel panel-default bootstrap-basic" data-bluesnap-google-pay="true"
     data-pf-token="{{ page.extensions.bluesnap.pfToken }}"
     data-google-merchant-id="{{ page.extensions.bluesnap.googleMerchantId }}"
     data-merchant-id="{{ page.extensions.bluesnap.merchantId }}"
     data-total-price="{{ page.cart.price.totalPrice }}"
     data-currency-code="{{ context.currency.isoCode }}"
     data-mode="{{ page.extensions.bluesnap.mode }}"
>
  <div id="container"></div>
</div>